<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ErrorLogSave.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E02B9F61D8960D5007116C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E02BA0D1D8960D5007116C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E02BA181D8960D6007116C0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
